<section id="interventions">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Speaker Interventions</h2>
            <hr class="prez-primary">
        </div>
    </div>
    <div class="container">
      <p>&nbsp;</p>
        <p>&nbsp;</p>
      <div class="row">
        <div class="col-md-4">
          <center>
            <p class="nav-link">🇹🇼 TICTeC@Taipei</p>
              <iframe class="center-block" src="https://www.youtube.com/embed/kJohf9HVy1E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </center>
        </div>
        <div class="col-md-4">
          <center>
            <p class="nav-link">🇧🇪 iMal Brussels</p>
            <iframe  class="center-block" src="https://www.youtube.com/embed/Bv2LpCEVRro" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </center>
        </div>
        <!-- <div class="col-md-4">
          <center>
            <p class="nav-link">🇫🇷 National Assembly</p>
            <iframe class="center-block" src="https://www.youtube.com/embed/IxEi15bk124" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </center>
        </div> -->
        <div class="col-md-4">
          <center>
            <p class="nav-link">🇫🇷 Le Monde - Smart Cities</p>
            <iframe class="center-block" src="https://www.youtube.com/embed/IxEi15bk124" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </center>
        </div>
      </div>
      <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
</section>
