<!-- Navigation -->
 <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
   <a class="navbar-brand" href="#page-top"><i class="fa fa-hand-peace-o" aria-hidden="true"></i> {{ site.title }}</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto navbar-right">
           <li class="hidden nav-item">
               <a href="#page-top"></a>
           </li>
           <li class="page-scroll nav-item">
               <a href="#portfolio">Projects</a>
           </li>
           <li class="page-scroll">
               <a href="#interventions">Interventions</a>
           </li>
           <li class="page-scroll">
               <a href="#medias">Press Room</a>
           </li>
           <li class="page-scroll">
               <a href="#contact">Contact</a>
           </li>
       </ul>
   </div>
         <!-- /.navbar-collapse -->
     <!-- /.container-fluid -->
 </nav>
